<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stardeckservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stardeckservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>stardeckservice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$stardeckservice</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="stardeckEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=stardeckdb.cloudapp.net;Initial Catalog=stardeck;User ID=stardeckadmin;Password=Km82mOcZaJ" Name="server=stardeckdb.cloudapp.net;database=stardeck;user id=stardeckadmin;password=Km82mOcZaJ" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Service.stardeckEntities, Service" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=stardeckdb.cloudapp.net;Initial Catalog=stardeck;User ID=stardeckadmin;Password=Km82mOcZaJ" Name="server=stardeckdb.cloudapp.net;database=stardeck;user id=stardeckadmin;password=Km82mOcZaJ" />
          <Object Type="DbDacFx">
            <PreSource Path="server=stardeckdb.cloudapp.net;database=stardeck;user id=stardeckadmin;password=Km82mOcZaJ" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=stardeckdb.cloudapp.net;database=stardeck;user=stardeckadmin;password=Km82mOcZaJ;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>server=stardeckdb.cloudapp.net;database=stardeck;user id=stardeckadmin;password=Km82mOcZaJ</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)stardeckEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string="server=stardeckdb.cloudapp.net;database=stardeck;user id=stardeckadmin;password=Km82mOcZaJ"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>